@charset "UTF-8";

* { 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

.passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 

  .passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }

html, body { 
    min-height: 100vh;
    background-color: darkgray; 
} 

header { 
    background-color: black;
    color: white; 
    text-align: center;
}

header > h1 { 
    padding-top: 50px; 
    font-variant: small-caps; 
    font-size: 8vw;
    
} 

header > p { 
    padding-bottom: 50px; 
}

header a, footer a { 
    color: white;
    text-decoration: none;
    font-weight: bolder;
} 

header a:hover, footer a:hover { 
    text-decoration: underline;
} 

section{ 
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px; 
    font-size:4vw;
   
    
    
} 
section.normal { 
    background-color: white; 
    color: black; 
}

section.img { 
    background-color: rgb(28, 27, 27);
    color: white; 
    
}

section.img > p { 
    display: inline-block;
    padding: 5px;
    
    background-color: rgba(0, 0, 0, 0.418);
}

footer { 
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px; 
}